@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
@using Factory.Models;

<h2>Machine Details</h2>
<hr class="new1" />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<hr class="new2" />

@if (@Model.JoinEntities.Count == 0)
{
  <p>This Machine does not belong to any Engineers</p>
}
else
{
  <h4>Engineers the Machine belongs to:</h4>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Engineer.Name</li>
    @using (Html.BeginForm("DeleteEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete"/>
    }
  }
}

<p>@Html.ActionLink("Add a Engineer", "AddEngineer", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Back to Machine List", "Index")</p>