@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new Engineer to the Factory:</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { @class = "text", type = "name", required = "required" })

  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Add a new Engineer" class="btn btn-default" />
}
<p  id="createButton">@Html.ActionLink("Show all Engineers", "Index")</p>